source https://api.nuget.org/v3/index.json

framework: netstandard2.0
strategy: min
storage: none

nuget System.Net.Http > 4.3.2
nuget System.Text.RegularExpressions >= 4.3.1

nuget WebSharper < 7
nuget WebSharper.FSharp < 7
nuget WebSharper.Testing < 7
nuget WebSharper.UI < 7